.icon {
  display: flex;
  padding: 1.5rem;
  margin-block: 3rem;
  margin-inline: auto;
  align-items: center;
  height: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  fill: var(--foreground-color-faded);
  background-color: var(--card-color);
}
.title,
.subtitle {
  text-align: center;
}
.form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 40rem;
  margin-block: 2rem;
  margin-inline: auto;
}
.form > * {
  font-size: 1rem;
  line-height: 2rem;
  padding-inline: 0.5rem;
}

.error {
  color: whitesmoke;
  background-color: red;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  text-align: center;
}
